button {
    padding: 0.8em;
    text-align: center;
    background-color: #06d6a0;
    margin: 15% 0%;
}
#inner {
    display:inline-block;
}

button:hover{
    background-color: #0df1b4;
}

.btn1{
    margin-right: 100px;
}   

.main-container {
    margin-top: 15%;
}
